In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
def played(x):
    if x > 0:
        return 1
    else:
        return 0

In [3]:
user_df = pd.read_csv('../resources/steam-200k.csv', header=None)

user_df.drop(4, axis=1, inplace=True)
user_df.columns = ['user_id', 'title', 'action', 'hours']
user_df.drop('action', axis=1, inplace=True)

user_df['played'] = user_df['hours'].apply(lambda x: played(x - 1))
to_drop = [index for (index, row) in user_df.iterrows() if row['hours'] == 1 and row['played'] == 0]
user_df.drop(to_drop, inplace=True)

user_df.head()

     user_id                       title  hours  played
1  151603712  The Elder Scrolls V Skyrim  273.0       1
3  151603712                   Fallout 4   87.0       1
5  151603712                       Spore   14.9       1
7  151603712           Fallout New Vegas   12.1       1
9  151603712               Left 4 Dead 2    8.9       1

In [6]:
X = user_df[['user_id', 'title', 'hours']]
y = user_df['played']

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [8]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((52073, 3), (17358, 3), (52073,), (17358,))