In [1]:
# Import dependencies
import json
import requests
import time
import pandas as pd
import concurrent.futures
import pymongo
from config import password

In [2]:
# Creating an empty dictionary to hold API responses
game_data = {}

# Building the query URLs
url = 'https://steamspy.com/api.php?request=all&page='
query_url = [url + str(x) for x in range(0, 1)]

# Calling the API
for url in query_url:    
    try:
        response = requests.get(url)
        time.sleep(1)
        
        # Updating the dictionary with the response
        game_data.update(response.json())
    except:
        print('Get request failed')

# Creating a list from the App IDs
app_ids = [i for i in game_data]
print(len(app_ids))

1000

In [ ]:
# # Creating an empty list and dictionary
# missed = []
# full_data = {}

# # Defining a function which will run the scrape spy function for each App ID
# def scrape(i):
#     try:
#         a = scrape_spy(i)
#         full_data[i] = a.json()
#         # full_data.update(a.json())
#     except:
#         missed.append(i)

# # Creating a function that asynchronously runs the scrape function
# def download_results(app_ids):
#     threads = 30
    
#     with concurrent.futures.ThreadPoolExecutor(max_workers = threads) as executor:
#         executor.map(scrape, app_ids)
        
# # Creating a main function to call the previous functions
# def main(app_ids):
#     t0 = time.time()
#     download_results(app_ids)
#     t1 = time.time()
    
#     print(f"{t1-t0} seconds to download {len(app_ids) - len(missed)} games.\n{len(missed)} could not be retreived")

In [ ]:
# # Setting the new query URL
# url = 'https://steamspy.com/api.php?request=appdetails&appid='

# # Defining the function for each API call
# def scrape_spy(i):
#     try:
#         response = requests.get(url + str(i))
#     except:
#         print(f'app id {appid} request failed')
    
#     return response

In [14]:
missed = []
full_data = {}

url = 'https://steamspy.com/api.php?request=appdetails&appid='

t0 = time.time()
for i in range(0, len(app_ids)):
    try:
        response = requests.get(url + str(app_ids[i]))
        full_data[app_ids[i]] = response.json()
    except:
        missed.append(app_ids[i])
        print(f'app id {appid} request failed')

t1 = time.time()
print(f'{len(full_data)}, {t1-t0}')

1000, 524.1843671798706

In [15]:
# Cleaning the data
game_df = pd.DataFrame.from_dict(full_data, orient='index')
game_df.reset_index(drop=True, inplace=True)

game_df.drop(['score_rank', 'userscore', 'languages'], inplace=True, axis=1)
game_df[['price', 'initialprice', 'discount']] = game_df[['price', 'initialprice', 'discount']].apply(pd.to_numeric)

# Checking the results
print(f'Number of games: {len(game_df)}')
print(f'\n{game_df.columns}\n')
game_df.describe()

Number of games: 1000

Index(['appid', 'name', 'developer', 'publisher', 'positive', 'negative',
       'owners', 'average_forever', 'average_2weeks', 'median_forever',
       'median_2weeks', 'price', 'initialprice', 'discount', 'ccu', 'genre',
       'tags'],
      dtype='object')

,appid,positive,negative,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu
count,1.000000e+03,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,3.558394e+05,4.303487e+04,6597.746000,1561.361000,188.400000,592.678000,190.308000,1123.830000,1598.342000,22.612000,4161.074000
std,3.035807e+05,1.712630e+05,33817.579135,2969.862431,436.128867,1156.082558,471.473926,1379.398724,1588.434385,34.246961,28843.612245
min,1.000000e+01,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.032575e+05,6.310000e+03,989.250000,315.500000,0.000000,145.000000,0.000000,0.000000,0.000000,0.000000,34.750000
50%,2.868150e+05,1.463100e+04,2069.000000,674.000000,7.500000,305.000000,9.000000,499.000000,1499.000000,0.000000,247.000000
75%,4.614075e+05,3.352025e+04,4530.000000,1582.500000,193.500000,656.750000,194.250000,1999.000000,1999.000000,65.000000,1289.500000
max,1.468810e+06,4.662865e+06,764225.000000,34516.000000,7028.000000,19290.000000,6563.000000,6999.000000,13036.000000,255.000000,702301.000000

In [16]:
# Setting the index to the name of the game
game_df.set_index('name', inplace=True)
game_df.head()

,appid,developer,publisher,positive,negative,owners,average_forever,average_2weeks,median_forever,median_2weeks,price,initialprice,discount,ccu,genre,tags
name,,,,,,,,,,,,,,,,
Dota 2,570,Valve,Valve,1226968,227322,"100,000,000 .. 200,000,000",34516,1419,1095,709,0,0,0,404495,"Action, Free to Play, Strategy","{'Free to Play': 57693, 'MOBA': 19126, 'Multip..."
Counter-Strike: Global Offensive,730,"Valve, Hidden Path Entertainment",Valve,4662865,629306,"50,000,000 .. 100,000,000",27931,966,7944,413,0,0,0,702301,"Action, Free to Play","{'FPS': 85863, 'Shooter': 61477, 'Multiplayer'..."
Team Fortress 2,440,Valve,Valve,709892,44522,"50,000,000 .. 100,000,000",8089,1345,415,268,0,0,0,100903,"Action, Free to Play","{'Free to Play': 60769, 'Hero Shooter': 60283,..."
PLAYERUNKNOWN'S BATTLEGROUNDS,578080,"KRAFTON, Inc.","KRAFTON, Inc.",896178,764225,"50,000,000 .. 100,000,000",24242,698,11456,259,2999,2999,0,262724,"Action, Adventure, Massively Multiplayer","{'Survival': 13079, 'Shooter': 10896, 'Multipl..."
Unturned,304930,Smartly Dressed Games,Smartly Dressed Games,382989,36911,"20,000,000 .. 50,000,000",4692,1458,374,289,0,0,0,23269,"Action, Adventure, Casual, Free to Play, Indie","{'Free to Play': 35860, 'Survival': 15594, 'Zo..."

In [17]:
# Saving the CSV & creating a dictionary
game_df.to_csv('../resources/game_data.csv')
d = game_df.T.to_dict()

# Creating a connection to the MongoDB database
conn = f"mongodb+srv://admin:{password}@cluster0.tflk7.mongodb.net/games_info_db?retryWrites=true&w=majority"
client = pymongo.MongoClient(conn)

# Connecting to the correct database and collection
db = client.games_info_db
game_info = db.game_info

# Updating the data in the collection with the scrape results
game_info.update({}, d, upsert = True)

# Closing the connection
client.close()

<ipython-input-17-a62358570fb1>:3: UserWarning: DataFrame columns are not unique, some columns will be omitted.
  d = game_df.T.to_dict()
<ipython-input-17-a62358570fb1>:14: DeprecationWarning: update is deprecated. Use replace_one, update_one or update_many instead.
  game_info.update({}, d, upsert = True)